nav {
  background: #444;
  box-sizing: border-box;
}
nav > ul {
  list-style: none;
  box-sizing: border-box;
  padding: 0em 0.5em;
}

nav > ul li {
  display: inline-block;
  padding: 1em 0.7em;
  color: limegreen;
  box-sizing: border-box;
}

nav > ul li:hover {
  background: #555;
}

body {
  background-color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  color: blanchedalmond;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.2em;
}
